:root {
    --background-color: #f9f8fa;
    --contrast-color: #C3A9E0;
    --highlight-color: #6D28D9;
    --text-color: #4B2D77;
    --text: #000;
    
}

.tema-dark {
    --background-color: #0f061d;
  --contrast-color: #4B2D77;
  --highlight-color: #8C3D9D;
  --text-color: #E8D9F0;
  --text: #fff
}

* {
    margin: 0;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    a {
        color: var(--text-color);
    }
}

nav {
    height: 70px;
    border-bottom: 1px solid var(--contrast-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    position: fixed; /* Fixa o nav na tela */
            top: 0;          /* Alinha o nav ao topo da tela */
            left: 0;         /* Alinha o nav ao lado esquerdo da tela */
            width: 100%;     /* Faz o nav ocupar toda a largura da tela */
    font-size: 1.3rem;
    background-color: var(--background-color);

    #mudar-tema{
        background-color: var(--contrast-color);
        border: none;
        border-radius: 10%;
    }
}
ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-right: 10px;
}

#apresentacao {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 105px;
    font-size: 30px;
    h2{
        color: var(--highlight-color);
        font-weight: 800;
        font-size: 3.2rem;
    }
    p{
        font-weight: 700;
        font-size: 2.5rem;
        color: var(--text);
    }
    a{
        font-size: 1.5rem;
        text-decoration: underline;
    }
    a:hover{
        color: var(--highlight-color);
    }
}

.titulo {
    color: var(--text);
    font-size: 2rem;
}

#habilidades{
    height: 100vh;
    
    .skill {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        grid-template-rows: repeat(2, 130px);
        align-items: center;
        justify-items: center;
        margin-top: 50px;
        gap: 30px;

        .skill-individual{
            width: 200px;
            height: 150px;
            background-color: var(--contrast-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10%;
            gap: 5px;

            p {
                color: var(--text);
            }
        }
    }
    p{
        font-size: 1.5rem;
    }
    img {
        width: 50px;
    }
}

#projetos{
    height: 100vh;
}

#contato {
    height: 100vh;
    .ancoras {
        display: flex;
        justify-content: center;
        height: 200px;
        align-items: center;
        gap: 55px;
    }
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        p {
            font-size: 1.2rem;
        }
    }
}

.conteudo-secundario {
    width: 85%; /* A div ocupará 90% da largura da página */
    margin: 0 auto; /* Centraliza a div horizontalmente */
  }