
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    position: relative;
    background:linear-gradient(180deg, #5170FF 0%, #FF66C4 100%);
    background-color: rgba(81, 112, 255, 1); /* For browsers that do not support gradients */
    color:azure;
    font-family: 'Inter';
}

body {
    height: 100%;
    font-size: 100%;
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.div-principal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 150%;
}

.div-secundaria{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 120%;
}

.quemsou{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 120%;
}